
  <mat-toolbar>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">

  </button>
  <span class="text-fuchsia-900 font-bold">MyRH</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon mr-4" aria-label="Example icon-button with heart icon">
    <a routerLink="/home">Home</a>
  </button>
  <button mat-icon-button class="example-icon mr-4" aria-label="Example icon-button with share icon">
    <a *ngIf="!loggedIn" (click)="onOpenModal(undefined, 'signUp')" data-toggle="modal" data-target="#SignUpModal">Company</a>
 </button>
 <button mat-icon-button class="example-icon mr-4" aria-label="Example icon-button with share icon">
  <a *ngIf="!AdminloggedIn" (click)="onOpenModal(undefined, 'adminModal')" data-toggle="modal" data-target="#AdminModal">Admin</a>
</button>
 <button mat-icon-button class="example-icon mr-4" aria-label="Example icon-button with share icon">
  <a *ngIf="loggedIn || AdminloggedIn" (click)="logoutUser()">Logout</a>
</button>
</mat-toolbar>

<!-- <div class="flex justify-content-center gap-12">
    <a routerLink="/home">Home</a>
    <a *ngIf="!loggedIn" (click)="onOpenModal(undefined, 'signUp')" data-toggle="modal" data-target="#SignUpModal">Company</a>
    <a *ngIf="!AdminloggedIn" (click)="onOpenModal(undefined, 'adminModal')" data-toggle="modal" data-target="#AdminModal">Admin</a>
    <a *ngIf="loggedIn || AdminloggedIn" (click)="logoutUser()">Logout</a>
</div> -->



<!-- sign up company -->
<div class="modal fade" id="SignUpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title w-100 font-weight-bold" id="exampleModalLabel">S'nscrire </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #signUpForm="ngForm" (ngSubmit)="addCompany(signUpForm)">
        <div class="modal-body mx-3">
          <p class="p-4 text-center">Veuillez entrer les informations de votre entreprise</p>
          <div class="md-form mb-5" >
            <input type="text" id="form34" class="form-control validate" ngModel name="login" autocomplete="off" placeholder="Your login">
          </div>

          <div class="md-form mb-5">
            <input type="email" id="form29" class="form-control validate" ngModel name="email" autocomplete="off" placeholder="Your email">
          </div>

          <div class="md-form mb-5">
            <input type="password" id="orangeForm-pass" class="form-control validate" ngModel name="password" autocomplete="off" placeholder="Your password">
          </div>

          <div class="md-form mb-5">
            <input type="text" id="form32" class="form-control validate" ngModel name="adresse" autocomplete="off" placeholder="Your address">
          </div>

          <div class="md-form mb-5">
            <input type="text" id="form3" class="form-control validate" ngModel name="telephone" autocomplete="off" placeholder="Your phone number">
          </div>

        </div>
        <div class=" d-flex justify-content-center pb-4 gap-4">
          <button type="submit" class="p-2 rounded-md bg-fuchsia-900 text-white" [disabled]="signUpForm.invalid">
            Save
            <i class="fa fa-paper-plane-o ml-1"></i>
          </button>
          <button type="button" data-dismiss="modal" id="close-modal" class="rounded-md text-fuchsia-900 border-2 border-fuchsia-900 p-2">close</button>
        </div>
      </form>
      <div class="flex ">
      Vous avez déjà un compte &nbsp; <a (click)="onOpenModal(undefined,'loginCompany')" data-toggle="modal" data-target="#LoginCompanyModal"> Se connecter</a>
      </div>
      </div>
    </div>
  </div>



<!-- login Company -->
<div class="modal fade" id="LoginCompanyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title w-100 font-weight-bold" id="exampleModalLabel">Login </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #LoginForm="ngForm" (ngSubmit)="OnSubmit()">
        <div class="modal-body mx-3">
          <p class="p-4 text-center">Veuillez entrer les cordonnées de l'entreprise</p>

          <div class="md-form mb-5">
            <input type="email" id="form29" required class="form-control validate" [(ngModel)]="credentials.email" name="email" autocomplete="off" placeholder="Your email">

          </div>

          <div class="md-form mb-5">
            <input type="password" id="orangeForm-pass" class="form-control validate" required [(ngModel)]="credentials.password" name="password" autocomplete="off" placeholder="Your password">
          </div>
        </div>
        <div class=" d-flex justify-content-center pb-4 gap-4">
          <button type="submit" class="p-2 rounded-md bg-fuchsia-900 text-white">
            Login
          </button>
          <button  type="button"data-dismiss="modal" id="close-modal" class="rounded-md text-fuchsia-900 border-2 border-fuchsia-900 p-2">close</button>
        </div>
      </form>
      </div>
    </div>
  </div>



<!-- admin modal -->
<div class="modal fade" id="AdminModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title w-100 font-weight-bold" id="exampleModalLabel">Login </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #LoginForm="ngForm" (ngSubmit)="LoginAdmin()">
        <div class="modal-body mx-3">
          <p class="p-4 text-center">Bienvenue Admin</p>

          <div class="md-form mb-5">
            <input type="email" id="form29" required class="form-control validate" [(ngModel)]="aCredentials.email" name="email" autocomplete="off" placeholder="Your email">

          </div>

          <div class="md-form mb-5">
            <input type="password" id="orangeForm-pass" class="form-control validate" required [(ngModel)]="aCredentials.password" name="password" autocomplete="off" placeholder="Your password">
          </div>
        </div>
        <div class=" d-flex justify-content-center pb-4 gap-4">
          <button type="submit" class="p-2 rounded-md bg-fuchsia-900 text-white">
            Login
          </button>
          <button  type="button"data-dismiss="modal" id="close-modal" class="rounded-md text-fuchsia-900 border-2 border-fuchsia-900 p-2">close</button>
        </div>
      </form>
      </div>
    </div>
  </div>


  <router-outlet></router-outlet>

