<div id="main-container">
    <br>
    <button type="button" (click)="onOpenModal(undefined,undefined, 'signUp')" class="my-8 bg-fuchsia-900 p-2 text-white rounded-md" data-toggle="modal" data-target="#SignUpModal" >
        Sign up
      </button>
    <div class="container flex flex-content-center gap-8">


    <div *ngFor="let offre of offres | paginate: { itemsPerPage: 3  , currentPage: p }" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md">
      <div class="p-5">
          <a href="#">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{ offre.title }}</h5>
          </a>
          <p>{{  offre.ville }}</p>
          <button (click)="onOpenModal(offre, undefined, 'readMore')" (click)="getOffreDetails(offre)" type="button" class="bg-fuchsia-900 p-2 text-white rounded-md" data-toggle="modal" data-target="#ReadMoreModal">
            Read More
           <span><svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
           </span> </button>

      </div>
    </div>
    </div>
    <div *ngIf="offres==null" class="container col-lg-12 col-md-12 col-xl-12">
      <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">No Offres</h4>
        <p>No offres were found</p>
      </div>
    </div>
    <div class="mt-12 text-center">
      <pagination-controls class="myPag" (pageChange)="p = $event" ></pagination-controls>
    </div>
    </div>

    <!-- ReadMoreModal -->
    <div class="modal fade" id="ReadMoreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Detail de l'offre n° : {{editoffre?.id}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h4 class="font-semibold text-lg">{{editoffre?.title}} </h4>
            <h6 class="font-semibold text-base p-2">Profil Demandé : {{editoffre?.profil}}</h6>
            <p class="p-2">{{editoffre?.description}}</p>
            <p class="p-2">Basé à : {{editoffre?.ville}} </p>
            <p class="p-2" *ngIf="editoffre?.salaire == null">Salaire : à Discuter</p>
            <p class="p-2" *ngIf="editoffre?.salaire != null">Salaire : {{ editoffre?.salaire }}  MAD/mois</p>
            <p class="p-2">Niveau : {{editoffre?.niveau}} </p>
          </div>

        </div>
      </div>
    </div>





    <div class="modal fade" id="SignUpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title w-100 font-weight-bold" id="exampleModalLabel">S'nscrire </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form #signUpForm="ngForm" (ngSubmit)="addCompany(signUpForm)">
          <div class="modal-body mx-3">
            <p class="p-4 text-center">Veuillez entrer les informations de votre entreprise</p>
            <div class="md-form mb-5" >
              <input type="text" id="form34" class="form-control validate" ngModel name="login" autocomplete="off" placeholder="Your login">
            </div>

            <div class="md-form mb-5">
              <input type="email" id="form29" class="form-control validate" ngModel name="email" autocomplete="off" placeholder="Your email">
            </div>

            <div class="md-form mb-5">
              <input type="password" id="orangeForm-pass" class="form-control validate" ngModel name="password" autocomplete="off" placeholder="Your password">
            </div>

            <div class="md-form mb-5">
              <input type="text" id="form32" class="form-control validate" ngModel name="adresse" autocomplete="off" placeholder="Your address">
            </div>

            <div class="md-form mb-5">
              <input type="text" id="form3" class="form-control validate" ngModel name="telephone" autocomplete="off" placeholder="Your phone number">
            </div>

          </div>
          <div class=" d-flex justify-content-center pb-4 gap-4">
            <button type="submit" class="p-2 rounded-md bg-fuchsia-900 text-white" [disabled]="signUpForm.invalid">
              Save
              <i class="fa fa-paper-plane-o ml-1"></i>
            </button>
            <button type="button" data-dismiss="modal" id="close-modal" class="rounded-md text-fuchsia-900 border-2 border-fuchsia-900 p-2">close</button>
          </div>
        </form>
        <div class="flex ">
        Vous avez déjà un compte &nbsp; <a (click)="onOpenModal(undefined,undefined, 'loginCompany')"> Se connecter</a>
        </div>
        </div>
      </div>
    </div>

<!-- login Company -->
    <div class="modal fade" id="LoginCompanyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title w-100 font-weight-bold" id="exampleModalLabel">Login </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form #LoginForm="ngForm" (ngSubmit)="OnSubmit()">
          <div class="modal-body mx-3">
            <p class="p-4 text-center">Veuillez entrer les cordonnées de l'entreprise</p>

            <div class="md-form mb-5">
              <input type="email" id="form29" required class="form-control validate" [(ngModel)]="credentials.email" name="email" autocomplete="off" placeholder="Your email">

            </div>

            <div class="md-form mb-5">
              <input type="password" id="orangeForm-pass" class="form-control validate" required [(ngModel)]="credentials.password" name="password" autocomplete="off" placeholder="Your password">
            </div>
          </div>
          <div class=" d-flex justify-content-center pb-4 gap-4">
            <button type="submit" class="p-2 rounded-md bg-fuchsia-900 text-white">
              Login
            </button>
            <button  type="button"data-dismiss="modal" id="close-modal" class="rounded-md text-fuchsia-900 border-2 border-fuchsia-900 p-2">close</button>
          </div>
        </form>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>

