<div id="main-container">
    <br>
    <div class="container  flex-content-center gap-8">


    <div *ngFor="let offre of offres | paginate: { itemsPerPage: 3  , currentPage: p }" class="bootstrap-wrapper mb-4 bg-white border border-fuchsia-900  rounded-lg ">
      <div class="p-5">
          <a href="#">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{ offre.title }}</h5>
          </a>
          <p>{{  offre.ville }}</p>
          <p class=" overflow-hidden"> {{offre.description}}</p>
          <button (click)="onOpenModal(offre, undefined, 'readMore')" (click)="getOffreDetails(offre)" type="button" class="bg-fuchsia-900 p-2 text-white rounded-md" data-toggle="modal" data-target="#ReadMoreModal">
            voir plus
           </button>

      </div>
    </div>
    </div>
    <div *ngIf="offres==null" class="container col-lg-12 col-md-12 col-xl-12">
      <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">No Offres</h4>
        <p>No offres were found</p>
      </div>
    </div>
    <div class="mt-12 text-center">
      <pagination-controls class="myPag" (pageChange)="p = $event" ></pagination-controls>
    </div>
    </div>

    <!-- ReadMoreModal -->
    <div class="modal fade" id="ReadMoreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Detail de l'offre n° : {{editoffre?.id}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h4 class="font-semibold text-lg">{{editoffre?.title}} </h4>
            <h6 class="font-semibold text-base p-2">Profil Demandé : {{editoffre?.profil}}</h6>
            <p class="p-2">{{editoffre?.description}}</p>
            <p class="p-2">Basé à : {{editoffre?.ville}} </p>
            <p class="p-2" *ngIf="editoffre?.salaire == null">Salaire : à Discuter</p>
            <p class="p-2" *ngIf="editoffre?.salaire != null">Salaire : {{ editoffre?.salaire }}  MAD/mois</p>
            <p class="p-2">Niveau : {{editoffre?.niveau}} </p>
          </div>

        </div>
      </div>
    </div>

    <router-outlet></router-outlet>

