<!-- start sidebar -->
<nav style="top: 3rem;" class="h-full relative md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl bg-white flex flex-wrap items-center justify-between md:w-64 z-10 py-4 px-6"
>
<div
  class="md:flex-col md:items-stretch md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto">

  <div
    class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded">




    <!-- Navigation -->
    <ul class="md:flex-col md:min-w-full flex flex-col list-none mt-16">

      <li class="items-center">
        <a routerLink="/company"
          class="text-blueGray-700 hover:text-blueGray-500 text-xs uppercase py-3 font-bold block">
          Dashboard</a
        >
      </li>
      <li class="items-center mt-4">
        <a routerLink="/offre"
          class="text-blueGray-700 hover:text-blueGray-500 text-xs uppercase py-3 font-bold block">
            Ajouter une Offre
        </a>
      </li>
      <li class="items-center mt-4">
        <a
          class="text-blueGray-700 hover:text-blueGray-500 text-xs uppercase py-3 font-bold block"
          routerLink="/profil"
          >
          Profile photo</a>
      </li>
         </ul>

  </div>
</div>
</nav>
<!-- end sidebar -->
